<table width="" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div style="background: white;color:black">
              <p>Hello,</p>
              <p>Welcome to Hobbyst!</p>
              <p>Thankyou for Joining, we are glad to know that you love food as much as we do :)</p>
              <p>In a world where food is the focal point of many a discussion, Hobbyst was born out of the quest to find you stores/places at off hours. </p>
              <p>While we are at it, we’d love to hear from you and know which stores and places are open at night around you for other to find!</p>
              <br>
              <p>
              Team Hobbyst</p>
            </div>
            <div style="background:rgb(242, 102, 49);width:100%;height:20px;text-align:center;padding:10px 0;">&copy; <a href="http://hobbyst.co" style="text-decoration:none;color:white;">Hobbyst</a></div>
          </td>
        </tr>
      </table>
  </tr>
</table>